.homeContentWrapper{
    background-image: url('welcome.webp'); 
    background-size:cover; 
    height: 860px;
    }
    .overlayBox{
    padding: 200px 0px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    }
    
    .container{
    width: 1200px;
    margin: 0px auto;
    }
    
     
    .welcomeText{
    color:#FFF;
    font-size: 75px;
    font-family: raleway-bold;
    line-height: 90px;
    }